/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* 색조합 */
/* https://colorhunt.co/palette/e5d9b6a4be7b5f8d4e285430 */


/* 기본 html elements */
body {
  background-color: #8FA382;
  margin: 0;
  text-align: center;
  padding: 1% 5%;
  border: 2rem solid #285430;
  border-top-width: 1.5rem;
  box-sizing: border-box;
}

footer {
  clear:both;
  text-align: center;
  position: relative;
  bottom: 1rem;
}

/* 클래스 */
/* 헤더 */

.div-Header {
  background-color: #8FA382;
  text-align: center;
}

.Header-text {
  position: relative;
  bottom: 1.4rem;
  color: white;
  font-weight: lighter;
}


.rotate_logo {
  width: 10rem;
  animation: rotation 5s infinite linear;
  margin-top: 1rem;
}

/* 네비게이션바 */

.Nav {
  position: relative;
  bottom: 1.5rem;
}

.Nav-ul {
  font-size: 1.2rem;
  text-align: center;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav-ul li {
  display: inline;
  padding: 1rem;
}

/* 메인홈컨텐츠 */

.main-contents-text {
  clear: both;
  font-family: 'Archivo Black', sans-serif;
  position: relative;
  bottom:3rem;
  width: 60%;
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-weight:700;
  color: #285430;
}

.right-side {
  float: right;
  text-align:right;
}

.left-side {
  float: left;
  text-align:left;
}

.second-overlay-text {
  position: relative;
  bottom:3rem;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
  font-size: 3.2rem;
  text-align:right;
}




@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

