/* 폰트 */
/* 컨텐츠 */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* Logo-text */










/* 색조합 */
/* https://colorhunt.co/palette/e5d9b6a4be7b5f8d4e285430 */


/* 기본 html elements */
body {
  /* background-color: #8FA382; */
  margin: 0;
  padding: 5rem 0 0 0 ;
  text-align: center;
  /* border: solid #285430; */
  /* border-top-width: 2rem; */
  /* box-sizing: border-box; */
}


footer {
  clear:both;
  text-align: center;
  position: relative;
  bottom: 1rem;
  margin-top: 15%;
  margin-bottom: 0.5rem;
}

/* 버튼 cSS */
.myButton {
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background-color:transparent;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
        
/* 백그라운드 비디오*/
/* 이거 반응형으로 바꿔줘야함 */

.video1 {
  position:fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 0;
  z-index: -1;
  opacity: 0.8;
}

/* tools */
.page-wrapper{
  background-color: white;
  border-radius: 3rem;
  opacity: 0.2;
  width: 60%;
  margin: 1% auto;
  padding:  0.5rem 1rem;
  font-size: 1.3rem;
  text-align: left;
  transition: all 0.4s;
  color: #285430;
  white-space: pre-wrap;
  height: 20%;
}
.page-wrapper:hover{
  opacity: 0.8;
  width: 60%;
}




/* 헤더 */

.div-Header {
  /* background-color: #8FA382; */
  text-align: center;
}

.Header-text {
  position: relative;
  bottom: 1.4rem;
  color: white;
  font-weight: lighter;
}


.rotamiya_logo {
  width: 25rem;
  margin-top: 1rem;
  margin-bottom: 25px;
  transition: all;
}

.Nav {
  position: relative;
  bottom: 1.3rem;
  margin: 0 auto;
  padding: 0;
}

.Nav-ul {
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 3%;
  padding: 0;
}

.Nav-ul li {
  display:inline-block;
  padding: 1rem;
  opacity: 0.3;
  font-family: 'Fjalla One', sans-serif;
  list-style-type: none;
  position: relative;
  vertical-align: top;
}



.Nav-hover:hover {
  font-size: 1.8rem;
  transition-duration: 0.3s;
  opacity: 1;
}


.Nav-hover:not( :hover ){
  transition-duration: 0.5s;
  opacity: 0.5;
}

.unactive {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}

.active {
  transition: all 0.3s;
  opacity: 0.8;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.submenu-unactive {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  opacity: 0.6;
}

.submenu-active {
  text-decoration: none;
  color: gray;
  font-size: 1.2rem;
  opacity: 1;
}

/* Nav-submenu */

.Nav > .Nav-ul > li > ul {
  display: none;
}

.Nav > .Nav-ul >  li:hover > ul {
  display: block;
  animation: SubMenuMounting 1s forwards ;
  transition: all 1s;
  margin: 0;
  padding: 0;
}

.Nav > .Nav-ul >  li:hover > ul > li {
  display: block;
  font-size: 1.2rem;
  padding: 1rem 0 0 0.5rem;
  margin: 0;
  transition: all 0.5s;
  opacity: 0.3;
}


.Nav > .Nav-ul >  li:hover > ul > li:hover {
  display: block;
  padding: 1rem 0 0 0.5rem;
  margin: 0;
  opacity: 1;
}

.Nav > .Nav-ul >  li:hover > ul > li:not( :hover ){
  transition-duration: 0.5s;
}





/* Home */

.main-contents-text {
  clear: both;
  font-family: 'Archivo Black', sans-serif;
  position: relative;
  display: block;
  bottom:3rem;
  width: 60%;
  padding: 1.5% 5%;
  margin: 0;
  font-size: 4rem;
  font-weight:700;
  opacity: 0;
  transition: all 2s;
  color: white;
  /* color:#285430; */
}

.main-contents-text:hover {
  transition: all 0.5s;
  opacity: 0.7;
}

.main-contents-text:not( :hover) {
  transition: all 0.5s;
}



.appear {
  animation: fade-up 4s linear forwards;
  opacity: 0.2;
}

.right-side {
  float: right;
  text-align:right;
}

.left-side {
  float: left;
  text-align:left;
}


/* Each Menu */
.title {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  opacity: 0.7;
}

/* products */
.productsImage {
  width: 50%;
}

.ivanteaImage {
  width: 200px;
}

.productDiv {
  display: flex;
  flex-direction: row;
}


.descriptionOntheRight{
  align-self: center;
  margin-left: 10px;
  width: 50%;
  font-size: 15px;
}


/* Contact */

form {
  margin: 0 auto;
  padding: 0;
  width: 38%;
}

.form-emailAndName{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}


textarea {
  margin: 0.7rem 0;
  width: 100%
}

button {
  display: block;
  margin: 0 auto;
  width: 7rem;
  background-color: white;
  border: 1px solid;
  border-radius:5px;
}

.mapsAndAdressesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.address{
  position: relative;
  left: 20px;
  font-size: 1rem;
  margin: 15px;
  width: 40%;
}

.address-title {
  text-align: center;
  font-size: 1.5rem;
}

.ContactUs-title {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

.images-div {
  text-align: center;
}

.submenu-title {
  text-align: center;
  font-size: 5rem;
  color: black;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.marin100top {
  margin-top:100px;
}

.fontSize {
  font-size: 20px;
}



@keyframes rotation {
  from {
    transform: rotate(0deg); opacity: 0.4;
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation-hover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fade-up {
  from { transform: translateY(3.5rem);  }
  to { transform: translateY(0);}
}

@keyframes SubMenuMounting {
  from { transform: translateY(-0.5rem); }
  to { transform: translateY(0); }
}


@media (max-width: 820px) {

  body {
    padding: 50% 0 0 0 ;
  }

  /* header */
  .rotamiya_logo {
    width: 12rem;
    margin-top: 0.5rem;
    transition: all;
  }


  .Header-text {
    font-size: 0.5rem;
    margin-top: 1.2rem;
    color: white;
    font-weight:300;
  }
  
  /* 비디오 */
  
.video1 {
  position:fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  padding: 0;
  z-index: -1;
  opacity: 0.8;
}

/* Navbar */
  .Nav-ul {
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem 0;
    margin-bottom: 0;    
  }
  
  .Nav-ul li {
    display: block;
    width: 30%;
    margin: 0 auto;
    border: solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.3rem;
    border-radius:3px;
  }

  
  .unactive {
    color: #285430;
    text-decoration: none;
    opacity: 0.3;
  }
  
  .active {
    transition: all 0.3s;
    opacity: 0.8;
    font-size: 1.5rem;
    color: white;
  }
  
  
/* Each Menu */
.title {
  color: #8FA382;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  opacity: 0.5;
  margin: 2rem 0;
}

  /* Home texts */
.main-contents-text {
  font-family: 'Archivo Black', sans-serif;
  position: relative;
  display: block;
  bottom:1rem;
  width: 70%;
  padding: 8% 10% 5% 5%;
  margin: 0;
  font-size: 2rem;
  opacity: 0;
  transition: all 2s;
  color: white;
}

.appear {
  animation: fade-up 4s linear forwards;
  opacity: 0.2;
}

.right-side {
  float: right;
  text-align:right;
}

.left-side {
  float: left;
  text-align:left;
}

/* 각 카테고리 메인 글 */
.page-wrapper{
  background-color: white;
  border-radius: 3rem;
  opacity: 0.2;
  width: 55%;
  margin: 2% auto;
  padding:  0.5rem 2rem;
  font-size: 0.7rem;
  text-align: left;
  transition: all 0.4s;
  color: #285430;
}
.page-wrapper:hover{
  opacity: 0.6;
  width: 57%;
  font-size: 0.8rem;
}


.mapsAndAdressesContainer{
  display: inline;
  flex-wrap: nowrap;
}  
.address-title {
  text-align: center;
  font-size: 1.5rem;
}
.address{
  position: relative;
  bottom: 20px;
  font-size: 1rem;
  margin: 0;
  width: 100%;
}

form {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.form-emailAndName{
  display: inline;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}


}
